@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

body {
    width: 1440px;
    background-color: #bfbfbf;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 4fr 2fr;
    justify-content: space-between;
    background: url('img/header-fon.jpg') no-repeat center top;
    background-size: cover;
    gap: 10%;
    padding: 3% 5%;
    margin: 0 auto;
}

header :nth-child(1) {
    grid-column: 1/2;
}

header :nth-child(2) {
    grid-column: 2/5;
}

header :nth-child(3) {
    grid-column: 1/5;
}

header :nth-child(4) {
    grid-column: 1/5;
}

.logo {
    text-align: center;
    padding: 0;
}

.logo>a {
    display: block;
    background-color: #ffffff;
    color: #7e7d7c;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    padding: 14% 0;
}

.logo:hover {
    color: #f84545;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
}

nav a {
    color: #fff;
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    color: #f84545;
}

.sale {
    color: #f84545;
}

.heart>h1 {
    color: #fff;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 24px;
    padding: 0;
    margin: 26px 0;
}

.heart {
    text-align: center;
    color: #f84545;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 10px;
    padding: 90px 0 0 0;
}

.arrow {
    text-align: center;
}

.one {
    width: 92%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.6fr;
    gap: 40px;
    padding: 4%;
    margin: 0 auto;
}

.one :nth-child(1) {
    grid-area: 1/1/3/3;
}

.gourmet,
.adidas,
.carhartt,
.deep,
.palace,
.nike {
    position: relative;
    background: #000;
}

.gourmet>a>img,
.carhartt>a>img,
.adidas>a>img,
.deep>a>img,
.palace>a>img,
.nike>a>img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.nameGourmet {
    position: absolute;
    display: inline-block;
    width: 90%;
    color: #fff;
    font-size: 320%;
    letter-spacing: 20px;
    bottom: 0;
    padding: 6%;
}

.name {
    position: absolute;
    display: inline-block;
    width: 90%;
    color: #fff;
    font-size: 240%;
    letter-spacing: 10px;
    bottom: 0;
    padding: 6%;
}

.name>img,
.nameGourmet>img {
    display: block;
    margin: 16px 0;
}

.two {
    position: relative;
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 270%;
    font-weight: 400;
    letter-spacing: 0.8em;
    padding: 0;
    margin: 0 auto;
}

.two>img {
    display: block;
    width: 100%;
}

.instagram {
    position: absolute;
    top: 43%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.hashtag {
    color: #f84545;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 10px;
}

footer {
    width: 92%;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: bold;
    padding: 4%;
}

.navfooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navFooter a {
    flex: 1 1 auto;
    line-height: 30px;
    color: #000;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin: 0 3%;
}

.shared>a {
    display: inline-block;
    padding-left: 10%;
}

@media all and (max-width: 1440px) {

    body {
        width: 100%;
    }

}

@media all and (max-width: 1100px) {

    header {
        gap: 5%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 3.5fr 1.5fr;
    }

    .logo>a {
        padding: 12% 0;
    }

    .heart>h1 {
        font-size: 38px;
        letter-spacing: 24px;
    }

    .heart {
        font-size: 16px;
        letter-spacing: 10px;
        padding: 80px 0 0 0;
    }

    .nameGourmet>img,
    .name>img {
        width: 30%;
    }

    .nameGourmet {
        font-size: 240%;
    }

    .name {
        font-size: 180%;
    }

    .two {
        font-size: 200%;
        letter-spacing: 0.8em;
    }

    .instagram {
        top: 43%;
    }

    .hashtag {
        font-size: 20px;
        letter-spacing: 10px;
    }

    footer {
        width: 94%;
        grid-template-columns: 150px 5fr 1fr;
        padding: 3%;
    }

    .navFooter a {
        margin: 0 2%;
    }

    .shared>a {
        padding-left: 6%;
    }

}

@media all and (max-width: 880px) {

    header {
        gap: 3%;
    }

    .logo>a {
        font-size: 24px;
    }

    nav a {
        font-size: 14px;
        gap: 4%;
    }

    .heart>h1 {
        color: #fff;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 24px;
        padding: 0;
        margin: 16px;
    }

    .heart {
        font-size: 16px;
        letter-spacing: 10px;
        padding: 80px 0 0 0;
    }

    .name {
        font-size: 120%;
    }

    .two {
        font-size: 150%;
        letter-spacing: 0.8em;
    }

    .hashtag {
        font-size: 18px;
        letter-spacing: 10px;
    }

    footer {
        width: 96%;
        grid-template-columns: 140px 120px 120px;
        justify-content: space-between;
        padding: 2%;
    }

}

@media all and (max-width: 700px) {

    header {
        gap: 0;
        padding: 2% 3%;
    }

    .logo>a {
        font-size: 18px;
    }

    nav a {
        font-size: 13px;
        gap: 0;
    }

    .heart>h1 {
        font-size: 24px;
        letter-spacing: 16px;
    }

    .heart {
        font-size: 16px;
        letter-spacing: 10px;
        padding: 60px 0 0 0;
    }

    .one {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1.5fr;
    }

    .one :nth-child(1) {
        grid-area: 1/1/3/3;
    }

    .one :nth-child(6) {
        grid-area: 5/1/6/3;
    }

    .nameGourmet {
        font-size: 180%;
    }

    .name {
        font-size: 90%;
    }

    footer {
        width: 98%;
        font-size: 13px;
        padding: 1%;
    }

    .navFooter a {
        font-size: 13px;
        margin: 0 1%;
    }

}

@media all and (max-width: 580px) {

    header {
        grid-template-columns: 1fr 1fr 1fr 15%;
        grid-template-rows: 1fr 1.3fr 0.7fr;
        gap: 0;
    }

    header :nth-child(1) {
        grid-column: 1/2;
    }

    header :nth-child(2) {
        grid-column: 4/5;
    }

    nav a {
        font-size: 14px;
        height: 24px;
    }

    .heart {
        padding: 10px 0 0 0;
    }

    .nameGourmet {
        font-size: 130%;
    }

    .name {
        letter-spacing: 4px;
    }

    .two {
        font-size: 100%;
        letter-spacing: 0.8em;
    }

    .hashtag {
        font-size: 16px;
        letter-spacing: 8px;
    }

    .shared>a {
        padding: 1%;
    }

    .shared>a>img {
        width: 20px;
    }

}
